<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/html5.png'"
    [showImage]="true"
    [imageHeight]="200"
    [imageWidth]="200"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#FDB900'"
    [innerStrokeColor]="'#FDB857'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/css3.png'"
    [showImage]="true"
    [imageHeight]="200"
    [imageWidth]="200"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#FDB900'"
    [innerStrokeColor]="'#FDB857'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/javascript.png'"
      [showImage]="true"
      [imageHeight]="180"
      [imageWidth]="180"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#FDB900'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="200"
        [imageWidth]="200"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#FDB900'"
        [innerStrokeColor]="'#FDB857'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
      </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/html5.png'"
      [showImage]="true"
      [imageHeight]="200"
      [imageWidth]="200"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#FDB900'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/html5.png'"
      [showImage]="true"
      [imageHeight]="200"
      [imageWidth]="200"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#FDB900'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
</div>
