<div class="row">
  <h1>Proyectos</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 text1">
      <h1>Mario con Javascript</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorum recusandae minima architecto, dicta ab quae exercitationem a amet rerum labore eum similique provident magni, atque nemo corrupti fugit sed.</p>

    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 img1">
      <img src="../../../assets/mario.JPG" class="img-fluid img-proyectos">
    </div>
  </div>
</div>
