<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-3 col-md-2 col-lg-2">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/html5.png'"
    [showImage]="true"
    [imageHeight]="200"
    [imageWidth]="200"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#f06529'"
    [innerStrokeColor]="'#FDB857'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    <p>HTML</p>
  </div>
  <div class="text-center col-sm-3 col-md-2 col-lg-2">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/css3.png'"
    [showImage]="true"
    [imageHeight]="200"
    [imageWidth]="200"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#2965f1'"
    [innerStrokeColor]="'#FDB857'"
    [animation]="true"
    [animationDuration]="500"
    ></circle-progress>
    <p>CSS</p>
  </div>
  <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../assets/javascript.png'"
      [showImage]="true"
      [imageHeight]="230"
      [imageWidth]="230"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F0DB4F'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Javascript</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="180"
        [imageWidth]="180"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#a6120d'"
        [innerStrokeColor]="'#FDB857'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
      <p>Angular</p>
      </div>
      <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/github2.png'"
      [showImage]="true"
      [imageHeight]="180"
      [imageWidth]="180"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F5F5F5'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>GitHub</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="30"
      [radius]="100"
      [imageSrc]="'../assets/java.png'"
      [showImage]="true"
      [imageHeight]="180"
      [imageWidth]="180"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#dd3e68'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Java</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="60"
      [radius]="100"
      [imageSrc]="'../assets/mysql.png'"
      [showImage]="true"
      [imageHeight]="180"
      [imageWidth]="180"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00758F'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>MySql</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="20"
      [radius]="100"
      [imageSrc]="'../assets/javasp.png'"
      [showImage]="true"
      [imageHeight]="215"
      [imageWidth]="215"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#8bc34a'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Java Spring Boot</p>
  </div>
  <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/grupo.png'"
      [showImage]="true"
      [imageHeight]="120"
      [imageWidth]="120"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F5F5F5'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Trabajo en equipo</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/comunica.png'"
      [showImage]="true"
      [imageHeight]="170"
      [imageWidth]="170"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F5F5F5'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Comunicación</p>
    </div>
    <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/creativo.png'"
      [showImage]="true"
      [imageHeight]="170"
      [imageWidth]="170"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F5F5F5'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  <p>Creatividad y resolucion de problemas</p>
  </div>
  <div class="text-center col-sm-3 col-md-2 col-lg-2">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/tiempo.png'"
      [showImage]="true"
      [imageHeight]="160"
      [imageWidth]="160"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#F5F5F5'"
      [innerStrokeColor]="'#FDB857'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <p>Manejo del tiempo</p>
    </div>
</div>
