<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <img src="../../../assets/fotoyo.JPG" class="img-fluid" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
  <p id="puesto">Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1 id="titulosm">Sobre mi</h1>
  <a id="textosm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum exercitationem rem accusamus eligendi incidunt inventore cupiditate consectetur voluptas optio natus nihil quam similique eaque voluptatibus odio eos saepe, nam dicta.</a>
  </span>

</div>
</div>
